:root {
  --first-background: #1d062a;
  --second-background: #020108;

  //   Users
  --first-user-one: #ff8ce4;
  --first-user-second: #fb02c4;
  --first-user-bg-1: #331d2e;
  --first-user-bg-2: #320927;

  --second-user-one: #c488ff;
  --second-user-second: #6600e5;
  --second-user-bg-1: #281b32;
  --second-user-bg-2: #14042e;

  --third-user-one: #8e00ff;
  --third-user-second: #3281ff;
  --third-user-bg-1: #1d0633;
  --third-user-bg-2: #0b1a33;

  //   Footer Buttons
  --btn-clr: #332d3b;

  // Footer Mouseover TOP
  --btn-mouseover-one: #0f0f0f;
  --btn-mouseover-border: #6b49e0;
}
