footer {
  min-width: 400px;
}

.button {
  text-decoration: none;
  color: white;
  padding: 0.7rem 1.7rem;
  background-color: #332d3b;
  border-radius: 0.2rem;

  &:first-child {
    margin-right: 0.3rem;
  }

  &:last-child {
    margin-left: 0.3rem;
  }
}
