.footer {
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(2, 2, 2);

  &_add {
    display: flex;
    justify-content: center;

    a {
      display: inline-block;
      text-decoration: none;
      min-width: 140px;
      color: white;
      background-color: var(--btn-clr);
      border: 2px solid var(--btn-clr);
      padding: 0.8rem 1.6rem;
      border-radius: 5px;
      transition: scale 0.5s ease-in-out;

      &:hover {
        background-color: #0f0f0f;
        border: 2px solid #6b49e0;
      }
    }

    &-btn {
      margin: 0 10px;
    }
  }

  &_manage {
    padding-top: 20px;

    a {
      display: inline-block;
      text-decoration: none;
      min-width: 200px;
      color: white;
      background-color: black;
      padding: 0.8rem 1.6rem;
      border-radius: 4px;

      &:hover {
        background-color: var(--btn-clr);
      }
    }
  }
}
