html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  // Colors
  color: white;
  background: rgb(29, 6, 42);
  background: linear-gradient(
    180deg,
    rgba(29, 6, 42, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
