.main {
  display: flex;
  align-content: center;
}

.main_block {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.main_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  min-width: 122px;
  height: 175px;
  margin: 0 1rem 1rem 1rem;

  &-button {
    text-decoration: none;
    color: white;
    padding: 1.9rem 2.7rem;
    font-size: 3rem;
    background: linear-gradient(to right, #331d2e, #320927) padding-box,
      linear-gradient(to right, #ff8ce4, #fb02c4) border-box;
    border-radius: 50%;
    border: 3px solid transparent;
    display: inline-block;
  }

  &-text {
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
  }

  &-two {
    background: linear-gradient(to right, #281b32, #14042e) padding-box,
      linear-gradient(to right, #c488ff, #6600e5) border-box;
    border-radius: 50%;
    border: 3px solid transparent;
  }

  &-three {
    background: linear-gradient(to right, #1d0633, #0b1a33) padding-box,
      linear-gradient(to right, #8e00ff, #3281ff) border-box;
    border-radius: 50%;
    border: 3px solid transparent;
  }
}
