.container {
  min-height: calc(100vh - 400px);
  display: flex;
  justify-content: center;
  align-items: center;

  &_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &_user {
    width: 160px;
    height: 192px;
    margin: 0 1rem 1rem 1rem;
    text-align: center;
    transition: scale 0.2s ease-in-out;

    &:hover {
      scale: 1.2;
    }

    &-button {
      display: inline-block;
      text-decoration: none;
      color: white;
      font-size: 3rem;
      padding: 1.9rem 2.7rem;
    }

    &-one {
      background: linear-gradient(
            to right,
            var(--first-user-bg-1),
            var(--first-user-bg-2)
          )
          padding-box,
        linear-gradient(
            to right,
            var(--first-user-one),
            var(--first-user-second)
          )
          border-box;
      border-radius: 50%;
      border: 3px solid transparent;
    }

    &-two {
      background: linear-gradient(
            to right,
            var(--second-user-bg-1),
            var(--second-user-bg-2)
          )
          padding-box,
        linear-gradient(
            to right,
            var(--second-user-one),
            var(--second-user-second)
          )
          border-box;
      border-radius: 50%;
      border: 3px solid transparent;
    }

    &-three {
      background: linear-gradient(
            to right,
            var(--third-user-bg-1),
            var(--third-user-bg-2)
          )
          padding-box,
        linear-gradient(
            to right,
            var(--third-user-one),
            var(--third-user-second)
          )
          border-box;
      border-radius: 50%;
      border: 3px solid transparent;
    }
    &-text {
      font-weight: 300;
      letter-spacing: 1px;
      font-size: 1rem;
      padding: 1rem;
    }
  }
}
